.banner-post-detail {
    background: url('../images/article.png');
    background-repeat: no-repeat;
    background-size: bottom;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-main-two;
        opacity: 0.6;
        z-index: 1;
    }

    .content {
        position: relative;
        z-index: 3;
        text-align: center;
        padding: 3em 0;

        .title {
            color: $color-white;

            h2 {
                font-size: 2.3em;
            }

            i {
                font-size: 2em;
            }

            .breadcrumbs {
                padding: 1em 0;
                font-size: 1.1em;

                a {
                    color: $color-white;
                    transition: color 0.4s;

                    &:hover {
                        transition: color 0.4s;
                        color: $color-main-two;
                    }
                }
            }
        }
    }
}

.post-detail {
    background-color: #F3F4F8;

    .content {
        .title {
            padding-top: 1em;

            h1 {
                font-size: 1.6em;
                font-weight: 400;
                padding-bottom: 0.5em;
                color: $color-main-two;
            }

            border-bottom: 1px solid #ccc;
        }

        .content-post {
            .share-date {
                padding: 0.5em 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 0.5em;

                span {
                    font-size: 0.85em;
                }

                ul li {
                    display: inline-block;
                    background-color: #1877F2;
                    margin-left: 0.5em;
                    border-radius: 6px;

                    a {
                        padding: 0.5em;
                        color: $color-white;
                        font-size: 0.85em;
                    }
                }
            }

            text-align: justify;

            h1 {
                font-size: 1.9em;
                font-weight: 500;
                color: $color-main;
            }

            h2 {
                color: $color-main;
                font-size: 1.6em;
                font-weight: 500;
            }

            h3,
            h4,
            h5,
            h6 {
                color: $color-main;
                font-size: 1.3em;
                font-weight: 500;
            }

            p {
                line-height: 1.6em;
                padding: 0.5em 0;
            }

            ul {
                margin-left: 2em;
                padding: 0.5em 0;
            }

            a {
                color: $color-hover;

                &:hover {
                    color: $color-main;
                }
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 12px;
            }

            ul li {
                list-style: disc;
                line-height: 1.5em;
            }
        }
    }

    .sidebar-post-detail {
        margin-top: 1em;

        // background-color: $color-white;

        .post-new {
            padding: 0.5em;
            background-color: $color-white;

            .title {
                border-bottom: 1px solid #ccc;

                h2 {
                    color: $color-main-two;
                    font-weight: 400;
                }
            }

            .list {
                padding-top: 1em;

                .item {
                    display: flex;
                    margin: 0.5em 0;

                    img {
                        width: 120px;
                        height: auto;
                    }

                    h2 {
                        font-size: 1.1em;
                        font-weight: 400;
                        padding-left: 0.3em;

                        a {
                            color: $color-black;

                            &:hover {
                                color: $color-main-two;
                            }
                        }
                    }
                }
            }
        }

        .tnu-tags {
            margin-top: 1em;

            .title {
                border-bottom: 1px solid #ccc;

                h2 {
                    color: $color-main-two;
                    font-weight: 400;
                }
            }

            ul {
                margin-top: 1em;

                li {
                    display: inline-block;
                    margin: 0.5em;

                }

                li a {
                    padding: 0.5em;
                    display: inline-block;
                    color: $color-black;
                    border: 1px solid #ccc;

                    &:hover {
                        color: $color-white;
                        background-color: $color-main-two;
                    }
                }
            }
        }
    }
}