$color-main:#008CC1;
$color-hover: #FCB714;
$color-black:#000044;
$color-main-two: #0366C1;
$color-white:#ffffff;
$color-logo:#004956;
$color-border-bt:#75cbfe;
$color-banner:rgba(0, 140, 193, 0.8);
$color-bg-footer:rgba(0, 140, 193, 0.9);
$color-gray:#ddd;
$font-main: 'Fira Sans',
sans-serif;