.main {
    .tnu-notification {
        background-color: #DEF1F7;
        margin-top: 2em;

        .title {
            padding: 1em 0;
            text-align: center;

            h2 {
                font-size: 2em;
                text-transform: uppercase;
                display: inline-block;
                border-bottom: 4px solid #FF6A47;
                color: #0366C1;
            }
        }

        .content-noti {
            h4 {
                padding: 0.5em 0;
                font-size: 1.2em;
                font-weight: 500;
            }

            p {
                line-height: 1.5em;
                font-size: 1em;
                padding-left: 1em;
            }

            .btn-tnus {
                margin-top: 1em;
                text-align: center;
            }
        }

        .img {
            img {
                border: 1px solid $color-main;
            }
        }
    }

    .tnu-majors {
        padding: 2em 0;

        .title {
            padding: 1em 0;
            text-align: center;

            h2 {
                font-size: 2em;
                text-transform: uppercase;
                display: inline-block;
                border-bottom: 4px solid #FF6A47;
                color: #0366C1;
            }
        }

        .list-majors {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
            grid-gap: 1.5em;
            padding-top: 1.5em;

            .item {
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08),
                    0 3px 6px rgba(0, 0, 0, 0.10);
                border-radius: 12px;
                text-align: center;
                overflow: hidden;
                margin-top: 1em;

                img {
                    width: 100%;
                    height: auto;
                    border-radius: inherit;
                    max-height: 162px;
                    min-height: 162px;
                }

                h2 {
                    font-size: 1.2em;
                    line-height: 28px;
                    font-weight: 400;
                    padding-top: 0.5em;
                    padding: 0.5em 0;
                }

                a {
                    color: $color-black;
                }
            }
        }
    }

    .tnu-tops {
        margin: 1em 0;
        background-color: #DEF1F7;
        padding: 2em 0;

        .title {
            padding: 1em 0;
            text-align: center;

            h2 {
                font-size: 2em;
                text-transform: uppercase;
                display: inline-block;
                // border-bottom: 4px solid #FF6A47;
                color: #0366C1;
            }
        }

        .content {
            max-width: 800px;
            margin: 0 auto;

            .list {


                ul li {
                    padding: 0.5em 1em;
                    background-color: $color-white;
                    margin: 0.6em 0;
                    border-radius: 2em;
                    font-size: 1.1em;
                    transition: all 0.4s;

                    i {
                        color: $color-main-two;
                    }

                    &:hover {
                        transform: scale(1.05);
                        transition: all 0.4s;
                    }
                }
            }

            .btn-tnus {
                margin-top: 0.5em;
                text-align: center;
            }
        }
    }

    .tnu-benefit {
        margin-top: 2em;

        &__contents {
            .title {
                text-align: center;
            }

            .title h2 {
                font-size: 1.5em;
                color: #008CC1;

                span {
                    display: block;
                    color: #0366C1;
                    font-weight: 700;
                    margin-top: 0.5em;
                    font-size: 1.7em;
                }
            }

            .content {
                margin-top: 2em;

                .btn-tnus {
                    margin: 1em 0;
                    text-align: center;
                }

                .list {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
                    grid-gap: 3em;
                }

                .item {
                    border: 1px solid $color-main;
                    padding: 1em;
                    transition: all 0.4s;
                    border-radius: 1em;

                    h2 {
                        padding-bottom: 0.8em;
                        text-align: center;
                        color: #008CC1;
                        font-weight: 500;
                    }

                    p {
                        line-height: 2em;
                    }

                    &:hover {
                        background-color: $color-main-two;
                        color: $color-white;
                        transition: all 0.4s;

                        h2 {
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }

    .enrollment-news {
        background-color: #eee;
        padding: 1em 0;

        .title {
            padding: 1em 0;
            text-align: left;

            h2 {
                font-size: 2em;
                text-transform: uppercase;
                display: inline-block;
                border-bottom: 4px solid #FF6A47;
                color: #0366C1;
            }
        }

        .news {
            margin-top: 1em;

            .list {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-gap: 1.5em;

                .item {
                    img {
                        width: 100%;
                        height: auto;
                    }

                    h2 {
                        font-size: 1.3em;
                        font-weight: 500;
                        line-height: 1.5em;
                        padding-bottom: 0.3em;

                        a {
                            color: $color-main;

                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }

                    p {
                        line-height: 1.5em;
                    }

                    .date {
                        padding: 0.5em 0;

                        span {
                            font-size: 0.9em;
                            color: rgb(98, 98, 98);
                        }
                    }
                }

                .item:first-child {
                    grid-column: 1/3;
                    grid-row: 1/5;

                    img {
                        width: 100%;
                        height: auto;
                        min-height: 188px;
                        max-height: 100%;
                        border-radius: 12px;
                    }
                }

                .item:nth-child(2),
                .item:nth-child(3),
                .item:nth-child(4) {
                    grid-column: 3/6;
                    display: flex;
                    border-bottom: 1px solid #e5e5e5;

                    img {
                        min-height: 120px;
                        width: 150px;
                        height: 120px;
                        border-radius: 12px;
                    }

                    .desc {
                        padding-left: 0.5em;

                        h2 {
                            font-size: 1.1em;
                            font-weight: 500;
                            line-height: 1.5em;
                            padding-bottom: 0.3em;

                            a {
                                color: $color-main;

                                &:hover {
                                    opacity: 0.8;
                                }
                            }
                        }

                        p {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}